<article className="new-course-assignment">

    <h1>Post Assignment to <%= @course.name %></h1>

    <%= form_for([@course, @course_assignment], name: :assignment_id) do |f| %>
        <select id="assignment-select" name="course_assignment[assignment_id]">
            <option>Select one...</option>
            <%= @assignments.map do |assignment| %>
                <option id='select-<%= assignment.id %>'value=<%= assignment.id %> data-assignment='<%= JSON.dump(assignment.attributes.to_options) %>' ><%= assignment.name %></option>
            <% end %>
        </select>

        <div class="assignment-info">
            <!-- Dynamically filled -->
        </div>

        <div>
            <%= f.label :due_date %>
            <%= f.datetime_select :due_date, prompt: true %>
        </div>

        <div>
            <!-- The 'title' attribute is what shows up when you hover over an element -->
            <%= f.label :is_active %><i class="fas fa-question-circle" title="If the assignment is active, student will be able to view and submit to the assignment."></i>
            <%= f.check_box :is_active %>
        </div>

        <%= f.submit "Post!",class:"ui primary button" %>
    <% end %>

</article>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById("assignment-select").addEventListener("change", (event) => {
            if (document.getElementById(`select-${event.target.value}`)) {
                let assignment = JSON.parse(document.getElementById(`select-${event.target.value}`).dataset.assignment)

                document.querySelector(".assignment-info").innerHTML = `
                    <h2>${assignment.name}</h2>
                    <p>${assignment.description}</p>
                `
            }
        })
    }, false);

</script>
