<h1>Create New User</h1>

<% if @user.errors.any? %>
    <ul>
        <% @user.errors.full_messages.each do |msg|%>
        <li><%=msg%></li>
        <%end%>
    </ul>
<%end%>

<%if admin_signed_in?%>

<%= form_with model: @user, local: true do |f|%>
    <div class="ui equal width form">
    <div>
        <%=f.label :img_url %>
        <%=f.text_field :img_url %>
    </div>
    <div>
        <%=f.label :first_name %>
        <%=f.text_field :first_name %>
    </div>
    <div>
        <%=f.label :last_name %>
        <%=f.text_field :last_name %>
    </div>
    <div>
        <%=f.label :email %>
        <%=f.email_field :email %>
    </div>
  
    <div>
        <%=f.label :password %>
        <%=f.password_field :password %>
    </div>
    <div>
        <%=f.label :password_confirmation %>
        <%=f.password_field :password_confirmation %>
    </div>

    <p>
   
    </div>

   

    <%= f.submit "Save",class:"ui primary button" %>
   
  
    <% end %>
    
<% end %>