<% if @user.errors.any? %>
<ul>
    <% @user.errors.full_messages.each do |msg|%>
    <li><%=msg%></li>
    <% end %>
</ul>

<%end%>

<h1>Edit User</h1>

<%= form_with url: update_password_path, local: true do |f| %>

<div>
  <%=f.label :current_password %>
  <%=f.password_field :current_password %>
</div>

<div>
  <%=f.label :new_password %>
  <%=f.password_field :password %>
</div>
<div>
  <%=f.label :password_confirmation %>
  <%=f.password_field :password_confirmation %>
</div>

<%= f.submit "Update Password" %>

<% end %>