<article class="submitted-assignments">
    <% @assignments.each do |assignment| %>
            <h2>Assignment: <%= assignment.assignment.name %></h2>
            <h3>Course: <%= assignment.course.name %></h3>
            <h3>
                <% if assignment.due_date > Time.now %>
                    <p>Due in <%= distance_of_time_in_words(Time.now, assignment.due_date) %> </p>
                <% else %>
                    <p>Due <%= assignment.due_date %> ago</p>
                <% end %>
            </h3>
            <%= link_to 'View details...', course_course_assignment_path(assignment.course, assignment) %>
        <% end %>
</article>