<div class='card-tier'>
  <div class='independent-card'>
    <div class='card-header'>
      <h2>Pending Assignments</h2>
    </div>
  </div>
</div>
<div class='card-tier'>
  <% @assignments[0..5].each do |assignment| %>
        <div class="card" onClick="() => {window.location.href = '/course_assignments/<%= assignment.id %>'}">
          <div class='card-header' >
            <h3>Assignment Name: <%= assignment.assignment.name %></h3>
            <small>Course Name: <%= assignment.course.name %></small>
          </div>
          <div class='card-content'>
            <h3><%= link_to assignment.assignment.name, course_course_assignment_path(assignment.course, assignment) %></h3>
            <h3>
                <% if assignment.due_date > Time.now %>
                    <p>Due in <%= assignment.due_date %> </p>
                <% else %>
                    <p>Due <%= assignment.due_date %> ago</p>
                <% end %>
            </h3>
          </div>
        </div>
    <% end %>

  </div>
</div>