<article class="new-submission-grade">
    <%= form_for(@submission, method: "POST", url: course_course_assignment_submission_create_grade_path(@submission.course, @submission.course_assignment, @submission)) do |f| %>
        <div>
            <%= f.label :score %>
            <%= f.select :score, 0..@submission.max_score %>
        </div>

        <div>
            <%= f.label :feedback %>
            <%= f.text_area :feedback %>
        </div>

        <%= f.submit "Grade!" %>
    <% end %>
      
</article>
