<nav>
  <header class='navbar navbar-fixed-top navbar-inverse'>
    <div class='ui stackable menu'>
      <%#if you click the logo, it directs to the homepage%>
      <div class='item'>
        <%= link_to image_tag('logo.png', alt: 'logo', style: "width:50px"), '/' %>
      </div>
      <%# we need to create if user signed in  %>
      <div class="container">
        <div class='item'>
          <h3>My Dash Board</h3>
        </div>
      </div>
      <div class='right menu'>
        <div class='item'>
          <span>Hi, <%=link_to "#{current_user.name}", '/'%>!</span>
          <%if user_signed_in?%>
          |
          <%= link_to 'Sign Out', '', method: :delete %>
          <% else %>
          <%= link_to 'Sign In', '' %>
          |
          <% end %>
        </div>
      </div>
      <% if !admin_signed_in? %>
      <div class='item'>
        <%= link_to image_tag('profile_pic.png', alt: 'profile', style: "width:50px"), '/'%>
        <%#we need a route to view all courses%>
      </div>
      <%else%>
        |
        <%= link_to 'Management Courses', '' %>
        |
        <%= link_to 'Management Users', '' %>
      <div class='item'>
        <%= link_to image_tag('profile_pic.png', alt: 'profile', style: "width:50px"), '/'%>
        <%#we need a route to view all courses%>
      </div>
      <% end %>
    </div>
  </header>
</nav>